# IMPORTANT: If you need to ignore the "ollama" binary, use your
# .git/info/exclude file; not this file. We have legit "ollama" directories in
# the repo, all of which should not be ignored, and adding a global ignore rule
# for "ollama" would ignore those directories as well and trip up engineers...
# again.

.DS_Store
.vscode
.env
.venv
.swp
dist
build
.cache
*.exe
.idea
test_data
*.crt
__debug_bin*
llama/build
llama/vendor
